@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .inputField {
    @apply w-full h-16 bg-gray100 rounded-[20px] outline-none border border-gray200 pl-5 text-lg;
  }
}

@font-face {
  font-family: 'Arboria-Medium';
  src: url('../public/font/Arboria-Medium.ttf');
}
